In [3]:
import pandas as pd

In [4]:
# 1) Import the "toy_HF" dataset from the folder HF, using the first row as column titles (0.5 point)

# header = 0 is the default value where column names are inferred from the first row of the file.

df_toy = pd.read_csv("/Users/giacomomiolo/Desktop/BABD/Statistics/Ieva/Dataset for assignments/HF/toy_HF.txt", delimiter = " ", header = 0)

In [5]:
# 2) What are the sizes of the dataset? (0.5 points)

print(df_toy.shape)

(2090, 25)

In [15]:
# 3) Extract the "age", "sex", and "adm_number" columns, and give the new dataset the column's names "AGE", "SEX" and "nADM" (2 point)
# Note: once you build the new dataset, use the command "x <- as.data.frame(x)" to make it a data.frame

df = df_toy[["age", "sex", "adm_number"]]

# inplace set to Flase (default) wouldn't modify the df, just returning the result of the operation
df.rename(columns={"age": "AGE", "sex": "SEX", "adm_number": "nADM"}, inplace=True)
df.head(5)

   AGE  SEX  nADM
1   76    1     1
2   61    1     1
3   65    1     2
4   65    1     3
5   65    1     4

In [102]:
# 4) How many patients have 1 admission? How many 2? How many 3?  (1.5 points)

# Quick way, .value_counts() method returns the number of unique values in a column, then selecting first 3
a = df["nADM"].value_counts()[:3]

# Other way
one = df["nADM"].loc[df["nADM"] == 1].count()
two = df["nADM"].loc[df["nADM"] == 2].count()
three = df["nADM"].loc[df["nADM"] == 3].count()

print(a)
print(f"\nPatients with 1 admission: {one}, with 2: {two}, with 3: {three}.")

1    1000
2     418
3     235
Name: nADM, dtype: int64

Patients with 1 admission: 1000, with 2: 418, with 3: 235.

In [109]:
# 5) What is the percentage of readmitted patients in the dataset?   (1 point)

# All but the ones with 1 admission

# Quick way
perc_one_admission = df["nADM"].value_counts(normalize=True)[1]
perc_readmission = (1 - perc_one_admission)*100
print(perc_readmission)

# Other way
not_one = df["nADM"].loc[df["nADM"] != 1].count()
total = df["nADM"].count()
perc_readmitted = not_one/total*100
print(perc_readmitted)

52.15311004784689
52.15311004784689

In [68]:
# 6) Select the age of patients at their first admission (1.5 points)

df["AGE"].loc[df["nADM"] == 1].head(10)

1     76
2     61
7     74
16    72
17    73
18    92
19    60
20    76
21    77
22    57
Name: AGE, dtype: int64

In [61]:
# 7) Compute the mean of the AGE vector. Use help command, if needed  (0.5 points)

df["AGE"].mean()

71.18277511961722

In [84]:
# 8) Compute the mean age of men and women at their first hospitalization. What is higher? (2.5 points)

df["AGE"].loc[(df["SEX"] == 1) & (df["nADM"] == 1)].mean() # Males

66.78239608801955

In [85]:
df["AGE"].loc[(df["SEX"] == 0) & (df["nADM"] == 1)].mean() # Females

74.51269035532995