# Statistics Assignment 1

Solution with python pandas library.

In [1]:
import pandas as pd

**1) Import the "toy_HF" dataset from the folder HF, using the first row as column titles (0.5 point)**

`header = 0` is the default value where column names are inferred from the first row of the file.

In [2]:
df_toy = pd.read_csv("/Users/giacomomiolo/Desktop/BABD/Statistics/Ieva/Dataset for assignments/HF/toy_HF.txt", delimiter = " ", header = 0)

**2) What are the sizes of the dataset? (0.5 points)**

In [3]:
df_toy.shape

(2090, 25)

**3) Extract the "age", "sex", and "adm_number" columns, and give the new dataset the column's names "AGE", "SEX" and "nADM" (2 point)** <br> 
Note: once you build the new dataset, use the command "x <- as.data.frame(x)" to make it a data.frame

In [5]:
df = df_toy[["age", "sex", "adm_number"]]

# inplace set to Flase (default) wouldn't modify the df, just returning the result of the operation
df.rename(columns={"age": "AGE", "sex": "SEX", "adm_number": "nADM"}, inplace=True)
df.head(5)

   AGE  SEX  nADM
1   76    1     1
2   61    1     1
3   65    1     2
4   65    1     3
5   65    1     4

**4) How many patients have 1 admission? How many 2? How many 3?  (1.5 points)**

Quick way, `.value_counts()` method returns the number of unique values in a column, then selecting first 3

In [6]:
df["nADM"].value_counts()[:3]

1    1000
2     418
3     235
Name: nADM, dtype: int64

Other way

In [7]:
one = df["nADM"].loc[df["nADM"] == 1].count()
two = df["nADM"].loc[df["nADM"] == 2].count()
three = df["nADM"].loc[df["nADM"] == 3].count()

print(f"Patients with 1 admission: {one}, with 2: {two}, with 3: {three}.")

Patients with 1 admission: 1000, with 2: 418, with 3: 235.

**5) What is the percentage of readmitted patients in the dataset?   (1 point)**

In [8]:
# All but the ones with 1 admission

# Quick way
perc_one_admission = df["nADM"].value_counts(normalize=True)[1]
perc_readmission = (1 - perc_one_admission)*100
print(perc_readmission)

# Other way
not_one = df["nADM"].loc[df["nADM"] != 1].count()
total = df["nADM"].count()
perc_readmitted = not_one/total*100
print(perc_readmitted)

52.15311004784689
52.15311004784689

**6) Select the age of patients at their first admission (1.5 points)**

In [9]:
df["AGE"].loc[df["nADM"] == 1].head(10)

1     76
2     61
7     74
16    72
17    73
18    92
19    60
20    76
21    77
22    57
Name: AGE, dtype: int64

**7) Compute the mean of the AGE vector. Use help command, if needed  (0.5 points)**

In [10]:
df["AGE"].mean()

71.18277511961722

**8) Compute the mean age of men and women at their first hospitalization. What is higher? (2.5 points)**

Males mean age:

In [11]:
df["AGE"].loc[(df["SEX"] == 1) & (df["nADM"] == 1)].mean()

66.78239608801955

Females mean age:

In [12]:
df["AGE"].loc[(df["SEX"] == 0) & (df["nADM"] == 1)].mean()

74.51269035532995